// BEM

// กฎของ BEM
// block จะไม่มี __ หรือ -- ต่อท้าย
// element จะมี __ นำหน้าเสมอ
// modifier จะมี -- นำหน้าเสมอ
// การใช้ modifier จะต้องมี element หรือ block ประกาศไว้ก่อนเสมอ

// block __element --modifier
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

// Block (BEM)
.card {
  width: 200px;
  height: 300px;
  background-color: blue;

  // Modifier
  &--yellow {
    background-color: yellow;
  }

  // // Element จะต้องมีแค่ __ ต่อหนึ่ง Block จะต้องไม่มี --
  &__header {
    background-color: white;

    &--green {
      background-color: green;
    }
  }

  // // Element
  &__footer {
    background-color: red;
  }

  &__button {
    background-color: green;
  }
}
